/*@import url(cover.css);*/

html,
body {
    height: 100%;
    background-color: #333;
}

body {
    padding-top: 70px;
    color: #fff;
    text-align: center;
    /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
    /*box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}

a,
a:focus,
a:hover {
  color: #fff;
}

a:hover {
    text-decoration: underline;
    color: #ccc;
}

.wrapper {
    margin: 0 15px;
}

.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav > li {
    display: inline-block;
}

.masthead-nav > li + li {
    margin-left: 20px;
}

.masthead-nav > li > a {
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255,255,255,.75);
    border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: rgba(255,255,255,.25);
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}