<div class="row">
	<div class="col-sm-12 players-list">
		<table class="table table-striped">
			<thead>
				<tr>
					<th class="sortable" ng-click="sort( 'number' )">#</th>
					<th class="sortable" ng-click="sort( 'lastName' )">Name</th>
					<th class="sortable" ng-click="sort( 'points' )">Points</th>
					<th>Scoring</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="player in players">
					<td>{{ player.number }}</td>
					<td>{{ player.lastName }}, {{ player.firstName }}</td>
					<td>{{ player.points }}</td>
					<td>
						<div class="row">
							<div class="col-sm-3">
								<button class="btn btn-large btn-primary" ng-click="addPoints( 1, player )">1 Point</button>
							</div>
							<div class="col-sm-3">
								<button class="btn btn-large btn-primary" ng-click="addPoints( 2, player )">2 Points</button>
							</div>
							<div class="col-sm-3">
								<button class="btn btn-large btn-primary" ng-click="addPoints( 5, player )">5 Points</button>
							</div>
							<div class="col-sm-3">
								<button class="btn btn-block btn-danger" ng-click="resetPoints( player )">Reset</button>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="2">
						Total
					</td>
					<td ng-bind="totalPoints()"></td>
					<td>
						<div class="row">
							<div class="col-sm-2 pull-right">
								<button class="btn btn-block btn-danger" ng-click="resetAllPoints()">Reset All</button>
							</div>
						</div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>